# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [50]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [51]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')

#to remove trailing spaces at the end of the column names

admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [52]:
# Your code here:

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [53]:
# Your code here:

admissions.isnull()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
355,False,False,False,False,False,False,False,False,False
356,False,False,False,False,False,False,False,False,False
357,False,False,False,False,False,False,False,False,False
358,False,False,False,False,False,False,False,False,False
359,False,False,False,False,False,False,False,False,False
360,False,False,False,False,False,False,False,False,False
361,False,False,False,False,False,False,False,False,False
362,False,False,False,False,False,False,False,False,False
363,False,False,False,False,False,False,False,False,False
364,False,False,False,False,False,False,False,False,False
365,False,False,False,False,False,False,False,False,False
366,False,False,False,False,False,False,False,False,False
367,False,False,False,False,False,False,False,False,False
368,False,False,False,False,False,False,False,False,False
369,False,False,False,False,False,False,False,False,False
370,False,False,False,False,False,False,False,False,False
371,False,False,False,False,False,False,False,False,False
372,False,False,False,False,False,False,False,False,False
373,False,False,False,False,False,False,False,False,False
374,False,False,False,False,False,False,False,False,False
375,False,False,False,False,False,False,False,False,False
376,False,False,False,False,False,False,False,False,False
377,False,False,False,False,False,False,False,False,False
378,False,False,False,False,False,False,False,False,False
379,False,False,False,False,False,False,False,False,False
380,False,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False
383,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [54]:
# Your code here:

admissions.set_index("Serial No.", inplace = True)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [55]:
# Your code here:

admissions["GRE Score"]

Serial No.
1      337
2      316
3      322
4      314
5      330
6      321
7      308
8      302
9      323
10     327
11     328
12     307
13     311
14     314
15     317
16     319
17     318
18     303
19     325
20     328
21     334
22     336
23     322
24     298
25     295
26     310
27     300
28     327
29     338
30     340
      ...
356    310
357    324
358    336
359    321
360    315
361    304
362    297
363    290
364    303
365    311
366    322
367    319
368    324
369    300
370    340
371    335
372    302
373    307
374    296
375    320
376    314
377    318
378    326
379    317
380    329
381    324
382    325
383    330
384    312
385    333
Name: GRE Score, Length: 385, dtype: int64

In [56]:
admissions["CGPA"]

Serial No.
1      9.65
2      8.00
3      8.67
4      8.21
5      9.34
6      8.20
7      7.90
8      8.00
9      8.60
10     9.00
11     9.10
12     8.00
13     8.20
14     8.30
15     8.70
16     8.00
17     8.80
18     8.50
19     8.40
20     9.50
21     9.70
22     9.80
23     8.80
24     7.50
25     7.20
26     7.30
27     8.10
28     8.30
29     9.40
30     9.60
       ...
356    8.24
357    9.22
358    9.62
359    8.54
360    7.65
361    7.66
362    7.43
363    7.56
364    7.65
365    8.43
366    8.84
367    8.67
368    9.15
369    8.26
370    9.74
371    9.82
372    7.96
373    8.10
374    7.80
375    8.44
376    8.24
377    8.65
378    9.12
379    8.76
380    9.23
381    9.04
382    9.11
383    9.45
384    8.78
385    9.66
Name: CGPA, Length: 385, dtype: float64

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [57]:
# Your code here:

admissions.set_index(keys = ["GRE Score", "CGPA"], inplace = True)

In [58]:
admissions.reset_index(drop = False, inplace = True)

In [59]:
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [60]:
# Your code here:

higherthan9 = admissions["CGPA"].loc[admissions.CGPA > 9]

print(higherthan9)

0      9.65
4      9.34
10     9.10
19     9.50
20     9.70
21     9.80
28     9.40
29     9.60
30     9.80
31     9.20
39     9.10
40     9.40
41     9.10
42     9.30
43     9.70
62     9.02
64     9.22
65     9.16
66     9.64
67     9.76
68     9.45
69     9.04
77     9.50
78     9.22
79     9.36
80     9.45
93     9.24
99     9.05
101    9.18
102    9.46
       ...
246    9.34
247    9.13
255    9.14
263    9.45
268    9.11
271    9.66
272    9.26
273    9.19
274    9.08
275    9.02
284    9.11
285    9.24
293    9.10
298    9.18
311    9.14
322    9.47
346    9.54
347    9.23
350    9.17
356    9.22
357    9.62
367    9.15
369    9.74
370    9.82
377    9.12
379    9.23
380    9.04
381    9.11
382    9.45
384    9.66
Name: CGPA, Length: 110, dtype: float64

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [74]:
# Your code here:


higherthan9_sopless = admissions.loc[(admissions.CGPA > 9) & (admissions.SOP < 3.5)]

print(higherthan9_sopless)

     GRE Score  CGPA  TOEFL Score  University Rating  SOP  LOR  Research  \
28         338  9.40          118                  4  3.0  4.5         1
62         327  9.02          114                  3  3.0  3.0         0
140        326  9.11          114                  3  3.0  3.0         1
217        324  9.01          111                  4  3.0  3.0         1
381        325  9.11          107                  3  3.0  3.5         1

     Chance of Admit
28              0.91
62              0.61
140             0.83
217             0.82
381             0.84

In [62]:
admissions["Chance of Admit"].mean

<bound method Series.mean of 0      0.92
1      0.72
2      0.80
3      0.65
4      0.90
5      0.75
6      0.68
7      0.50
8      0.45
9      0.84
10     0.78
11     0.62
12     0.61
13     0.54
14     0.66
15     0.65
16     0.63
17     0.62
18     0.70
19     0.94
20     0.95
21     0.97
22     0.76
23     0.44
24     0.46
25     0.54
26     0.65
27     0.74
28     0.91
29     0.90
       ...
355    0.72
356    0.89
357    0.95
358    0.79
359    0.39
360    0.38
361    0.34
362    0.47
363    0.56
364    0.71
365    0.78
366    0.73
367    0.82
368    0.62
369    0.96
370    0.96
371    0.46
372    0.53
373    0.49
374    0.76
375    0.64
376    0.71
377    0.84
378    0.77
379    0.89
380    0.82
381    0.84
382    0.91
383    0.67
384    0.95
Name: Chance of Admit, Length: 385, dtype: float64>

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [66]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:
    
    #columnmean = 
    
    for i in col:
        a = (i - col.mean()) % col.std()
        return a
    
print(standardize(admissions.CGPA))

0.45052376767195024

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [79]:
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std
0,337,9.65,118,4,4.5,4.5,1,0.92,0.450524
1,316,8.00,104,3,3.0,3.5,1,0.72,0.450524
2,322,8.67,110,3,3.5,2.5,1,0.80,0.450524
3,314,8.21,103,2,2.0,3.0,0,0.65,0.450524
4,330,9.34,115,5,4.5,3.0,1,0.90,0.450524

In [87]:
# Your code here:


admissions['CGPA_std'] = standardize(admissions.CGPA)
#admissions['GRE_std'] = standardize(admissions.["GRE Score"])
admissions['LOR_std'] = standardize(admissions.LOR)



admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,0.450524,0.171895
1,316,8.00,104,3,3.0,3.5,1,0.72,0.450524,0.171895
2,322,8.67,110,3,3.5,2.5,1,0.80,0.450524,0.171895
3,314,8.21,103,2,2.0,3.0,0,0.65,0.450524,0.171895
4,330,9.34,115,5,4.5,3.0,1,0.90,0.450524,0.171895

We will generate the decision choice at random using the code below. Please run the cell.

In [76]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [89]:
# Your code here:

admissions["deciding_column"] = decision_choice

admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,LOR_std,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,0.450524,0.171895,CGPA_std
1,316,8.00,104,3,3.0,3.5,1,0.72,0.450524,0.171895,CGPA_std
2,322,8.67,110,3,3.5,2.5,1,0.80,0.450524,0.171895,LOR_std
3,314,8.21,103,2,2.0,3.0,0,0.65,0.450524,0.171895,GRE_std
4,330,9.34,115,5,4.5,3.0,1,0.90,0.450524,0.171895,CGPA_std

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [90]:
# Your code here:

admissions['decision'] = []

dec = [1 if admissions.deciding_column > 0.8 else 0]

ValueError: Length of values does not match length of index

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [13]:
# Your code here:

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [14]:
# Your code here:

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [15]:
# Your code here: